.user-details {
    height: 600px;
    display: flex;
    justify-content: center;
    padding: 25px;
}
.user-details--user {
    align-self: center;
    width: 250px;
}
.user-actions {
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
}
.user-actions button {
    border-color: black;
    color: black;
}
.user-actions a {
    text-decoration: none
}