.signUp {
    padding: 20px;
    height: 600px;
}
.signUp__form {
    padding-left: 10px;
}
.signUp__img {
    background-image: url('https://puntoverde.rudy.vercel.app/images/formSignUp.jpg');
    height: 500px;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}